@font-face {
  font-family: 'Roxborough CF';
  src: url('./assets/fonts/RoxboroughCF-BoldItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

.font-sec {
  font-family: 'Roxborough CF', serif;
}


/*  */
.dynamic-text {
  mix-blend-mode: difference;
  color: white;
}
.light-bg {
  color: black;
}

.dark-bg {
  color: white;
}

/* send message */
/* Styles for the input fields */
input {
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  width: 250px;
  outline: none;
}
.input-message {
  height: 150px;
  width: 380px;
  overflow-y: auto; /* Activer le défilement vertical si nécessaire */
  background: transparent;
  outline: none;
  border-bottom: 2px solid black;
  resize: vertical;
}

/* Styles for the button */
button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1C1C1C;
  color: black;
}

/* Additional style for the larger input */
input[type="texte"] {
  height: 100px;
}


.colorMobile {
  color: #1C1C1C;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@tailwind base;
@tailwind components;
@tailwind utilities;



/* App.css */
html {
  scroll-behavior: smooth;
}

/* Styles communs pour Home, Projects, Contact */
.text-appbar-content-common {
  color: #000000; /* Couleur du texte par défaut */
}

.nav-logo__rotate {
  color: #555555; /* Couleur des icônes par défaut */
}

/* Couleur du texte des liens */
a {
  position: relative;
  text-decoration: none;
  color: #000000; /* Couleur du texte par défaut */
}

/* Couleur du texte actif */
a.active {
  color: #555555; /* Couleur du texte actif */
}

/* Animation de l'underline avec un effet de chargement */
a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000000; /* Couleur de l'underline */
  transform: scaleX(0); /* Initialement invisible */
  transform-origin: left;
  transition: transform 0.5s ease; /* Durée et style de l'animation */
}

/* Animation d'underline sur le lien actif ou au survol */
.appbar a:hover::after,
.appbar a.active::after {
  transform: scaleX(0.1); /* Étendre l'underline pour le lien actif ou en survol */
}

/* Couleur de l'underline pour le lien actif */
a.active::after {
  background-color: transparent; /* Couleur de l'underline pour le lien actif */
}

/* Lorsque la section "About" est active */
.navbar-about .text-appbar-content-about {
  color: #ffffff; /* Changer la couleur du texte en blanc pour "About" */
}

.navbar-about .nav-logo__rotate {
  color: #ffffff; /* Changer la couleur de l'icône en blanc pour "About" */
}

.navbar-about a {
  color: #ffffff; /* Changer la couleur des liens en blanc pour "About" */
}

.navbar-about a.active {
  color: #aaaaaa; /* Couleur du texte actif quand "About" est actif */
}

.navbar-about a::after {
  background-color: #ffffff; /* Changer la couleur de l'underline en blanc pour "About" */
}

.navbar-about a.active::after {
  background-color: #1c1c1c; /* Couleur de l'underline pour le lien actif quand "About" est actif */
}

/* Pour que le style scrolled soit appliqué */
.scrolled .text-appbar-content-common {
  color: #ffffff; /* Couleur du texte en blanc lorsque la page est défilée */
}

.scrolled a.active {
  color: #aaaaaa; /* Couleur du texte actif lorsque la page est défilée */
}

.scrolled a::after {
  background-color: #ffffff; /* Changer la couleur de l'underline en blanc lorsque la page est défilée */
}

.scrolled a.active::after {
  background-color: #1c1c1c; /* Couleur de l'underline pour le lien actif lorsque la page est défilée */
}

/* App.css */
.lottie-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.skills-container {
  position: absolute;
  bottom: 20px;  /* Ajuster la distance du bas */
  right: 20px;   /* Ajuster la distance de la droite */
  text-align: right;
}

@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%; /* Assurez-vous que la largeur du conteneur couvre tout l'écran */
}

.marquee-left {
  display: inline-block;
  min-width: 100%; /* Assurez-vous que chaque bloc couvre au moins 100% de la largeur de l'écran */
  animation: marquee-left 20s linear infinite; /* Ajustez la durée de l'animation selon vos besoins */
}

.marquee-right {
  display: inline-block;
  min-width: 100%; /* Assurez-vous que chaque bloc couvre au moins 100% de la largeur de l'écran */
  animation: marquee-right 20s linear infinite; /* Ajustez la durée de l'animation selon vos besoins */
}

.view-github-button {
  background-color: #1c1c1c; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  padding: 10px 20px; /* Espacement interne du bouton */
  border: none; /* Pas de bordure */
  border-radius: 20px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer pour le bouton */
  text-align: center; /* Centrer le texte du bouton */
  font-size: 16px; /* Taille de la police du bouton */
  margin-top: 10px; /* Espace au-dessus du bouton */
  transition: background-color 0.3s ease; /* Effet de transition pour la couleur de fond */
}

.view-github-button:hover {
  background-color: #555; /* Couleur de fond du bouton au survol */
}

.stagger-text {
  display: block;
}

/* App.css */

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Ajustez cette valeur pour contrôler l'amplitude du mouvement */
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite; /* Ajustez la durée et la courbe de l'animation si nécessaire */
}




