@import 'splitting/dist/splitting.css';

@font-face {
  font-family: 'Roxborough CF';
  src: url('./assets/fonts/RoxboroughCF-BoldItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Ajoutez vos styles d'animation ici, par exemple */
.hello-title .char {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(0px,0px);
  animation: fadeUp 0.5s forwards;
}

.hello-title .char::before,
.hello-title .char::after {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  animation: fadeUpShadow 1s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translate(0px , 0px);
  }
}

@keyframes fadeUpShadow {
  to {
    text-shadow: 0 0 0 rgba(0,0,0,0);
  }
}

 /*  */

.font-sec {
  font-family: 'Roxborough CF', serif;
}

.text-140px {
  font-size: 150px;
}
.text-custom-color{
  color: #1C1C1C;
}

.text-1xl{
  font-size: 8.10648px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

